$white-color: #fcfcfc;
$black-color: #0f161f;
$text-color: #eff6ff;
$navy-color-1: #1a154e;
$navy-color-2: #504791;
$light-navy-color-1: lighten($navy-color-1, 10%);
$blue-color: #6fd8f2;
$light-blue-color: lighten($blue-color, 10%);
$green-color: #6ff2a8;
$light-green-color: lighten($green-color, 10%);
$red-color: #fa4f71;
$light-red-color: lighten($red-color, 10%);
$border-color: lighten($navy-color-1, 50%);

$border-radius-default: 3px;
$border-radius-medium: 6px;
$border-radius-large: 9px;

$transition-time-default: 0.15s;
