$white-color: #fcfcfc;
$grey-color: #d2d4d8;
$light-grey-color: lighten($grey-color, 6%);
$dark-grey-color: darken($grey-color, 8%);
$border-color: darken($grey-color, 16%);
$blue-color: #5468ff;
$light-blue-color: #e0edfc;
$green-color: #60d1c2;
$light-green-color: #e8f4f0;

$border-radius-default: 3px;

$transition-time-default: 0.15s;
